*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;

}

body{
    width: 100%;
}

.img-um{
    width: 60%;
    height: 60%;
    margin-left: 50px;
}

.navbar{
    background-color:DarkSlateGray;
}

.nav-link{
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.quemsomos{
    background-color: LightGrey;
    padding-top: 40px;
   
}

.titulo-quemsomos{

    font-size: 50px;
    font-weight: 700;
    margin-top: 9px;
}
#img-equipe{
    width: 40%;
    height: 30%;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

.paragrafo{

    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    padding: 50px;
    line-height: 25px;
}

#parceiros{
    background: LightBlue;
}

.img-item{
    width: 70%;
    height: 215px;
    display: block;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
}


.img-duas{
    width: 90%;
    height: 300px;
    object-fit: contain;
    margin-top: 10px;
}

.img-dua{
    width: 90%;
    height: 300px;
    object-fit: contain;
    margin-top: 10px;
}




.paragrafo-seg{
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
    padding: 30px;
    line-height: 25px;
}

#serviço{
    
    background-color:LightGrey ;
    
}

.final{
    width: 100%;
    background-color: DarkSlateGray;
    height: 25px;
}

.row{
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#ult-paragrafo{
color: white;
margin-bottom: 30px;
}